@font-face {
	font-family: 'Butler Regular';
	src: url('fonts/butler_regular-webfont.woff2');
}

html {
	background-color: #EFEFF4;
	color: #3C3C3B;
	font-size: 14pt;
	text-shadow: 0 0 0.1px rgba(0,0,0,0.5);
}

body {
	position: relative;
	margin: 0 auto;
	width: 80%;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-size: 3rem;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	margin: 1em auto 1em auto;
}

h2 {
	font-family: 'Butler Regular';
	font-weight: 100;
	letter-spacing: 30px;
	text-indent: 15px;
	margin: 0 auto 0.5em auto;
	font-size: 4.8rem;
	text-transform: uppercase;
}

p {
	/*font-family: "Crimson Text", serif;*/
	font-size: 2rem;
	font-style: italic;
}

footer {
	margin: 2rem auto;
	text-align: center;
}

footer p {
	margin-bottom: 1rem;
}

footer a {
	padding: 0;
}

.main-logo {
	position: absolute;
	display: block;
	left: 50%;
	transform: translate(-50%,-50%);
}

.main-content {
	/*text-shadow: 2px 2px 5px rgba(0,0,0,0.3);*/
	font-family: serif;
	background-image: url('../img/soh-indiegogo.jpg');
	background-size: cover;
	color: white;
	background-color: #4E5454;
	margin: 0 auto;
	padding: 10rem 50px 4rem 50px;
	text-align: center;
}

.main-content p {
	padding: 0 10%;
}

.call-to-action {
	display: block;
	margin-top: 4em;
}

.call-to-action p {
	margin-bottom: 1rem;
}

a, a:hover, a:visited, a:active {
	color: inherit;
}

.call-to-action a.btn, .call-to-action a.btn:hover, .call-to-action a.btn:visited, .call-to-action a.btn:active {
	text-transform: uppercase;
	letter-spacing: 4px;
	padding: 20px 60px;
	font-weight: 300;
	text-decoration: none;
}

.call-to-action a.btn:hover {
	background-color: #F34F8A;
}

.btn {
	display: inline-block;
	padding: 15px 50px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	margin: 0 10px;
	font-size: 1.8rem;
	cursor: pointer;
	transition: 0.5s;
	text-shadow: none;
}

.btn:hover {
	box-shadow: 3px 7px 8px rgba(0,0,0,0.3);
}

.btn.share-container {
	position: relative;
	line-height: 1em;
	text-indent: 20px;
	padding: 15px 60px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
}

.btn.share-container:hover {
	box-shadow: 2px 2px 3px rgba(0,0,0,0.15);
}

.share-container img {
	height: 1em 	;
	width: auto;
    margin-right: 0;
    position: absolute;
    top: 13px;
    left: 10%;
}

.pink {	background-color: #DC3D78; }
.white { background-color: #FFFFFF; }