@font-face {
	font-family: 'Butler Regular';
	src: url('fonts/butler_regular-webfont.woff2');
}

html {
	background-color: #EFEFF4;
	color: #3C3C3B;
	font-size: 10pt;
	text-shadow: 0 0 0.1px rgba(0,0,0,0.5);
}

body {
	padding: 0;
	margin: 0;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-size: 3rem;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	margin: 1em auto 1em auto;
}

h2 {
	font-family: 'Butler Regular';
    font-weight: 100;
    letter-spacing: 40px;
    padding-left: 20px;
    margin: 0 auto 0.5em auto;
    font-size: 5.4rem;
    text-transform: uppercase;
}

p {
	/*font-family: "Crimson Text", serif;*/
	font-size: 2.6rem;
	font-style: italic;
}

footer {
	width: 100%;
	background-color: #2D2D2D;
	padding: 2rem 0 0.5rem 0;
	color: #EFEFF4;
}

footer h1{
	font-size: 2rem;
	margin: 0 auto 0.5rem auto;
	text-align: left;
	font-weight: 300;
}

footer p {
	font-family: 'Museo Sans', 'Roboto', sans-serif;
	font-size: 1.1rem;
	font-style: initial;
	font-weight: 300;
	margin-top: 0;
}

footer a {
	font-style: italic;
	color: #A8A8A8;
	text-decoration: none;
	transition: color ease 0.3s;
}

footer a:hover, footer a:visited, footer a:active {
	color: #DDD;
}

footer .copyright {
	font-size: 0.8rem;
	display: block;
	clear: both;
	text-align: center;
	color: #777;
}

.page {
	position: relative;
	margin: 0 auto;
	width: 80%;
    max-width: 1440px;
}

.social {
	margin: 2rem auto;
	text-align: center;
}

.social p {
	margin-bottom: 1rem;
}

.social a {
	padding: 0;
}

.logo {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
    display: block;
    top: 3.4rem;
    width: 30rem;
}

.main-logo {
	position: absolute;
	display: block;
	left: 50%;
	transform: translate(-50%,-50%);
}

.main-content {
	font-family: serif;
    background-image: url(../img/soh-indiegogo.jpg);
    background-size: cover;
	background-position: center center;
    color: white;
    background-color: #4E5454;
    margin: 0 auto;
    padding: 12.5rem 50px 4rem 50px;
    text-align: center;
}

.main-content p {
	padding: 0 10%;
	max-width: 600px;
	margin: 0 auto;
}

.call-to-action {
	display: block;
	margin-top: 4em;
}

.call-to-action p {
	margin-bottom: 1rem;
}

a, a:hover, a:visited, a:active {
	color: inherit;
}

.call-to-action a.btn, .call-to-action a.btn:hover, .call-to-action a.btn:visited, .call-to-action a.btn:active {
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding: 0.6em 1.8em;
	font-weight: 300;
	text-decoration: none;
}

.call-to-action a.btn:hover {
	background-color: #F34F8A;
}

.btn {
	display: inline-block;
	padding: 15px 50px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
	font-size: 1.8rem;
	cursor: pointer;
	transition: ease 0.5s;
	-webkit-backface-visibility: hidden;
	text-shadow: none;
}

.btn:hover {
	box-shadow: 0px 7px 8px rgba(0,0,0,0.3);
}

.btn.share-container {
	position: relative;
	margin: 0 10px;
	line-height: 1em;
	text-indent: 20px;
	padding: 15px 60px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	text-decoration: none;
	margin-bottom: 1rem;
}

.btn.share-container:hover {
	background-color: #DDD;
	/*box-shadow: 2px 2px 3px rgba(0,0,0,0.3);*/
}

.share-container img {
	height: 1em 	;
	width: auto;
    margin-right: 0;
    position: absolute;
    top: 13px;
    left: 10%;
}

footer #mc_embed_signup {
	text-align: center;
}

footer #mc_embed_signup label {
	display: block;
	margin: 0 auto;
	font-family: 'Adobe Garamond', serif;
	font-style: italic;
	font-size: 2rem;
	margin-bottom: 1rem;
}

footer #mc_embed_signup .email {
	display: inline-block;
	color: #2D2D2D;
	margin: 0 auto;
	width: 50%;
	min-width: 300px;
	max-width: 400px;
	font-size: 1rem;
	padding: 10px 10px 10px 20px;
	border: 0;
}

footer #mc_embed_signup .clear {
	display: inline-block;
}

footer #mc_embed_signup .clear input {
    margin-left: 1.2em;
    font-size: 1em;
    background-color: #EF4C87;
    padding: 1.2em;
    /*border: solid 1px #AF0C48;*/
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px #222;
}

.pink {	background-color: #DC3D78; }
.white { background-color: #FFFFFF; }

@media (max-width: 1627px) {
	h2 {
		/*font-size: 2.8rem;*/
	}
}

@media (max-width: 850px) {
	.main-content {
		padding-top: 10rem;
	}

	h2 {
		font-size: 2.8rem;
		margin-bottom: 1em;
	}
}

@media (max-width: 660px) {

	h2 {
		font-size: 1.6rem;
	}

	.call-to-action .btn {
		/*font-size: 1em;*/
	}
}

@media (max-width: 776px) {
	.btn.share-container {
		margin: 1rem auto;
	}

	footer h1 {
		text-align: center;
	}
}